# Ignore Python cache and compiled files
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Ignore virtual environment
.venv/

# Ignore environment variables
.env

# Ignore PyCharm-specific files
.idea/

# Ignore OS system files
.DS_Store
Thumbs.db